<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>nmh, add!</title>
    <style>

      .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
        }
        .btn-outline-primary{
             width: 70px;
            height: 50px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
      }
        .col-md-6{
            padding: 12px 20px;
            margin: 0px 0px;
            box-sizing: border-box;

    }


    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <a class="navbar-brand" href="#">NMH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">HOME <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/about">BORDER DETAIL <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form method="post" action="/search/" class="form-inline my-2 my-lg-0">{% csrf_token %}
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<form method="post" enctype="multipart/form-data" action="/add/">{%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Name:</label>
            <input type="texp" class="form-control" id="student_name" name="student_name" placeholder="Name" required>
        </div>

        <div class="form-group col-md-6 ">
            <label>Roll No:</label>
            <input type="text" class="form-control" id="student_RollNo" name="sroll_no" placeholder="Roll No"
                   required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 ">
            <label>DOB:</label>
            <input type="date" class="form-control" id="student_DB" name="sdate_of_birth" placeholder="DB Yr" required>
        </div>
        <div class="form-group col-md-6 ">
            <label>Admission Year:</label>
            <input type="date" class="form-control" id="student_Syr" name="sjoin_year" placeholder="Admission Yr"
                   required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 ">
            <label>Department Name:</label>
            <input type="text" class="form-control" id="student_dept" name="sDept" placeholder="Department Name"
                   required>
        </div>
        <div class="form-group col-md-6 ">
            <label>Programme:</label>
            <input type="text" class="form-control" id="student_pro" name="sPRo" placeholder="Course"
                   required>
        </div>
        <div class="form-group col-md-6 ">
            <label>Phone No:</label>
            <input type="text" class="form-control" id="student_MobNo" name="sMob_no" placeholder="Contact Number"
                   required>
        </div>
        <div class="form-group col-md-6 ">
            <label>Email Id:</label>
            <input type="email" class="form-control" id="student_Email" name="sEmail_Id" placeholder="Email Id"
                   required>
        </div>
        <div class="form-group col-md-6">
            <label>Room No:</label>
            <input type="text" class="form-control" id="student_RoomNo" name="sroom" placeholder="Room No"
                   required>
        </div>
        <div class="form-group col-md-6">
            <label>Image:</label>
            <input type="file" class="form-control" id="student_image" name="sImage" placeholder="Image"
                   required>
        </div>
        <div class="btn-group " role="group" aria-label="Basic example">
            <label>Bed No:</label>
            <input type="radio" id="studnet_BedNo" name="sBed_no" class="btn btn-outline-primary mx-2"
                   placeholder="A" value="A"
                   required>
            <input type="radio" id="studnet_BedNo" name="sBed_no" class="btn btn-outline-primary mx-2"
                   placeholder="A" value="B"
                   required>
            <input type="radio" id="studnet_BedNo" name="sBed_no" class="btn btn-outline-primary mx-2"
                   placeholder="A" value="C"
                   required>
            <input type="radio" id="studnet_BedNo" name="sBed_no" class="btn btn-outline-primary mx-2"
                   placeholder="A" value="D"
                   required>

        </div>
    </div>
<!--    <button type="submit" class="btn btn-primary btn-circle btn-xl mx-3">Submit</button>-->
<div class="section text-left">

    <button type="submit" class="btn btn-primary btn-bordered ph40">Allocate</button>
                                    </div>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>