<!--<html>-->
<!--<head>-->
<!--<title>Login  </title>-->
<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" href="style.css">&ndash;&gt;-->
<!--    <style>-->
<!--        body{-->
<!--    margin: 0;-->
<!--    padding: 0;-->
<!--    background: url("/static/PK1.jpg");-->
<!--    background-size: cover;-->
<!--    background-position: center;-->
<!--    font-family: sans-serif;-->
<!--}-->

<!--.loginbox{-->
<!--    width: 320px;-->
<!--    height: 420px;-->
<!--    background: #000;-->
<!--    color: #fff;-->
<!--    top: 50%;-->
<!--    left: 50%;-->
<!--    position: absolute;-->
<!--    transform: translate(-50%,-50%);-->
<!--    box-sizing: border-box;-->
<!--    padding: 70px 30px;-->
<!--}-->

<!--.avatar{-->
<!--    width: 100px;-->
<!--    height: 100px;-->
<!--    border-radius: 50%;-->
<!--    position: absolute;-->
<!--    top: -50px;-->
<!--    left: calc(50% - 50px);-->
<!--}-->

<!--h1{-->
<!--    margin: 0;-->
<!--    padding: 0 0 20px;-->
<!--    text-align: center;-->
<!--    font-size: 22px;-->
<!--}-->

<!--.loginbox p{-->
<!--    margin: 0;-->
<!--    padding: 0;-->
<!--    font-weight: bold;-->
<!--}-->

<!--.loginbox input{-->
<!--    width: 100%;-->
<!--    margin-bottom: 20px;-->
<!--}-->

<!--.loginbox input[type="text"], input[type="password"]-->
<!--{-->
<!--    border: none;-->
<!--    border-bottom: 1px solid #fff;-->
<!--    background: transparent;-->
<!--    outline: none;-->
<!--    height: 40px;-->
<!--    color: #fff;-->
<!--    font-size: 16px;-->
<!--}-->
<!--.loginbox input[type="submit"]-->
<!--{-->
<!--    border: none;-->
<!--    outline: none;-->
<!--    height: 40px;-->
<!--    background: #fb2525;-->
<!--    color: #fff;-->
<!--    font-size: 18px;-->
<!--    border-radius: 20px;-->
<!--}-->
<!--.loginbox input[type="submit"]:hover-->
<!--{-->
<!--    cursor: pointer;-->
<!--    background: #ffc107;-->
<!--    color: #000;-->
<!--}-->
<!--.loginbox a{-->
<!--    text-decoration: none;-->
<!--    font-size: 12px;-->
<!--    line-height: 20px;-->
<!--    color: darkgrey;-->
<!--}-->

<!--.loginbox a:hover-->
<!--{-->
<!--    color: #ffc107;-->
<!--}-->



<!--    </style>-->
<!--<body>-->
<!--    <div class="loginbox">-->
<!--    <img src="/static/NMH0.jpg" class="avatar">-->
<!--        <h1>Login As</h1>-->
<!--        <form>{% csrf_token %}-->
<!--&lt;!&ndash;            <p>Administration</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" name="" placeholder="Enter Username">&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Password</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="password" name="" placeholder="Enter Password">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="topbar-middle">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#">OTHER</a><br>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--            <input href="#"type="submit" name="" value="Administration">-->
<!--            <input type="submit" name="" value="Warden">-->
<!--            <input type="submit" name="" value="Warden">-->
<!--&lt;!&ndash;            <a href="#">Lost your password?</a><br>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#">Don't have an account?</a>&ndash;&gt;-->
<!--        </form>-->

<!--    </div>-->

<!--</body>-->
<!--</head>-->
<!--</html>-->