<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>NMH!</title>
    <style>
      .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0rem;
}
body{
<!--background-color: #dae0e5;  -->
}
.bg-light {
    background-color: #5a5386 !important;
    color: #868fb3;
}

.row{
margin-top: 10px;
margin-left: 20px;
margin-right: 480px;

}
.card{
background-color: #859db7;
}

    </style>
  </head>
  <div>
{% load static %}

<div class="card mb-3">
  <img src="/static/nmhtu.jpg" class="card-img-top" height="160" alt="...">
  <div class="card-body">
  </div>
</div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studentDetaile">Insert Boader</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/nmhDetaile">Boader List</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/hostel_details">Insert Room</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/nmhVacant">Vacant Room</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/studentDetaile">About Us</a>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About Us</a>-->
<!--      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<!--<head>-->
<meta http -equiv="Content -Type" content="text/html; charset=utf -8" />
<link href="/templatemo_style1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/jquerycssmenu.css" />

<style type="text/css">
html .jquerycssmenu{height: 1%;}
</style>


<script type="text/javascript" src="../js/jquery.min.1.2.6.js"></script>
<script type="text/javascript" src="../js/jquerycssmenu.js"></script>
<script type="text/javascript" src="../js/jquery.min.1.3.2.js"></script>
<!--<script language="JavaScript1.1">-->

<!--var slideimages=new Array()-->
<!--var slidelinks=new Array()-->
<!--function slideshowimages(){-->
<!--for (i=0;i<slideshowimages.arguments.length;i++){-->
<!--slideimages[i]=new Image()-->
<!--slideimages[i].src=slideshowimages.arguments[i]-->
<!--}-->
<!--}-->

<!--function slideshowlinks(){-->
<!--for (i=0;i<slideshowlinks.arguments.length;i++)-->
<!--slidelinks[i]=slideshowlinks.arguments[i]-->
<!--}-->

<!--function gotoshow(){-->
<!--if (!window.winslide||winslide.closed)-->
<!--winslide=window.open(slidelinks[whichlink])-->
<!--else-->
<!--winslide.location=slidelinks[whichlink]-->
<!--winslide.focus()-->
<!--}-->

<!--</script>-->
<STYLE>

.c_pink {
	WIDTH: 10px; COLOR: black; TEXT -DECORATION: none
}
.c_pink:hover {
	COLOR: #800000; BACKGROUND -COLOR: #ceff63; TEXT -DECORATION: none
}
.c_baize {
	WIDTH: 10px; COLOR: black; TEXT -DECORATION: none
}
.c_baize:hover {
	COLOR: #800000; BACKGROUND -COLOR: #fbdfa8; TEXT -DECORATION: none
}
.c_aqua {
	WIDTH: 10px; COLOR: black; TEXT -DECORATION: none
}
.c_aqua:hover {
	COLOR: #800000; BACKGROUND -COLOR: #a8fbfa; TEXT -DECORATION: none
}
.c_purple {
	WIDTH: 145px; COLOR: black; TEXT -DECORATION: none
}
.c_purple:hover {
	COLOR: #800000; BACKGROUND -COLOR: #edb8fa; TEXT -DECORATION: none
}
.c_light_green {
	WIDTH: 145px; COLOR: black; TEXT -DECORATION: none
}
.c_light_green:hover {
	COLOR: #800000; BACKGROUND -COLOR: #ceff63; TEXT -DECORATION: none
}
.c_yellow {
	MARGIN -LEFT: 0px; COLOR: black; TEXT -DECORATION: none
}
.c_yellow:hover {
	COLOR: #800000; BACKGROUND -COLOR: #bfc78c; TEXT -DECORATION: none
}
LI {
	MARGIN -LEFT:0px
}

UL {
	MARGIN -BOTTOM: 0px
}

LI.aqua {
	COLOR: #22d2d0
}
LI.baize {
	COLOR: #f9b955
}
LI.green {
	COLOR: #81b309
}
#marqueecontainer {
	BORDER -RIGHT: #91A098 2px solid; PADDING -RIGHT:3px; BORDER -TOP: #91A098 2px solid; PADDING -LEFT: 1px; PADDING -BOTTOM: 1px; OVERFLOW: hidden; BORDER -LEFT: #91A098 2px solid; WIDTH: 310px; PADDING -TOP: 1px; BORDER -BOTTOM: #91A098 2px solid; POSITION: relative; HEIGHT: 260px; BACKGROUND -COLOR: #EFEFEF
}

LI.red {
	PADDING -RIGHT: 0px; PADDING -LEFT: 1px; PADDING -BOTTOM: 3px; COLOR: #353375; PADDING -TOP: 3px
}
SPAN {
	COLOR: #000080
}
.upperscroll {
	COLOR:#353375; TEXT -DECORATION: none
}
.upperscroll:hover {
	COLOR:#353375; TEXT -DECORATION: none
}
</STYLE>
<SCRIPT type=text/javascript>



var delayb4scroll=7000 //Specify initial delay before marquee starts to scroll on page (2000=2 seconds)
var marqueespeed=2 //Specify marquee scroll speed (larger is faster 1 -10)
var pauseit=1 //Pause marquee onMousever (0=no. 1=yes)?

////NO NEED TO EDIT BELOW THIS LINE////////////

var copyspeed=marqueespeed
var pausespeed=(pauseit==0)? copyspeed: 0
var actualheight=''

function scrollmarquee(){
if (parseInt(cross_marquee.style.top)>(actualheight*( -1)+8))
cross_marquee.style.top=parseInt(cross_marquee.style.top) -copyspeed+"px"
else
cross_marquee.style.top=parseInt(marqueeheight)+8+"px"
}

function initializemarquee()
{
cross_marquee=document.getElementById("vmarquee")

cross_marquee.style.top=0

marqueeheight=document.getElementById("marqueecontainer").offsetHeight


actualheight=cross_marquee.offsetHeight

if (window.opera || navigator.userAgent.indexOf("Netscape/7")!= -1){ //if Opera or Netscape 7x, add scrollbars to scroll and exit

cross_marquee.style.height=marqueeheight+"px"

cross_marquee.style.overflow="scroll"

return
}


setTimeout('lefttime=setInterval("scrollmarquee()",90)', delayb4scroll)

}


if (window.addEventListener)

window.addEventListener("load", initializemarquee, false)

else if (window.attachEvent)

window.attachEvent("onload", initializemarquee)

else if (document.getElementById)

window.onload=initializemarquee


</SCRIPT>

<!--<SCRIPT language=javascript type=text/javascript>-->


<!--			var win=null;-->

<!--			function NewWindow(mypage,myname,w,h,scroll,pos)-->
<!--{-->
<!--			if(pos=="random"){LeftPosition=(screen.width)?Math.floor(Math.random()*(screen.width -w)):100;TopPosition=(screen.height)?Math.floor(Math.random()*((screen.height -h) -75)):100;}-->

<!--if(pos=="center"){LeftPosition=(screen.width)?(screen.width -w)/2:100;TopPosition=(screen.height)?(screen.height -h)/2:100;}-->

<!--else if((pos!="center" && pos!="random") || pos==null){LeftPosition=0;TopPosition=20}-->

<!--settings='width='+w+',height='+h+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',location=no,directories=no,status=yes,menubar=no,toolbar=no,resizable=yes';-->

<!--win=window.open(mypage,myname,settings);}-->

<!--		</SCRIPT>-->
<!--<SCRIPT language=JavaScript>-->
<!--function makeArray() {-->
<!--     for (i = 0; i<makeArray.arguments.length; i++)-->
<!--         this[i] = makeArray.arguments[i];-->
<!-- }-->

<!--function getFullYear(d) {-->
<!--    var y = d.getYear();-->
<!--    if (y < 1000) {y += 1900};-->
<!--    return y;-->
<!--}-->

<!--//var zone = "EDT";-->
<!--var days = new makeArray("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");-->
<!--var months = new makeArray("January","February","March","April","May","June","July","August","September","October","November","December");-->

<!--function format_time(t) {-->

<!--    var Day = t.getDay();-->
<!--    var Date = t.getDate();-->
<!--    var Month = t.getMonth();-->
<!--    var Year = t.getFullYear();-->

<!--    timeString = "";-->
<!--    timeString += days[Day];-->
<!--    timeString += ", ";-->
<!--    timeString += " ";-->
<!--    timeString += months[Month];-->
<!--    timeString += " ";-->
<!--    timeString += Date;-->
<!--    timeString += ", ";-->
<!--    timeString += " ";-->
<!--    timeString += Year;-->

<!--   return timeString;-->
<!-- }-->
<!--</SCRIPT>-->
<!--</head>-->
<!--<body>-->
<center>
<div id="templatemo_top_panel_wrapper_outter">
<div id="templatemo_top_panel_wrapper_inner">
	<div id="templatemo_top_panel">


        <div id="templatemo_banner">

	        <div id="site_title">

			</div>

        </div> <! - - end of templatemo_banner  - ->



</div>
</div>
</div>

<div id="templatemo_content_wrapper">

	<div id="templatemo_content">



      <div id="templatemo_main_coontent">

        <div id="main_column">

            <div class="post_box">


                <div class="post_body">
 <table width="980" cellpadding="0" cellspacing="0"  bordercolor="#D2D2D2" border="1" bgcolor="#ffffff"><tr><td  valign="top" colspan="4" align="center" bgcolor="#D2D2D2"><br>&nbsp;
     <font size="4"  color="#36387C"><b>NILACHAL MEN`S HOSTEL</b></font>   <p>&nbsp;&nbsp;&nbsp;      </p></td></tr>

<tr>


</td></tr>


<tr>


<td width="265" align="left">  </td>

</td></tr>


<tr><td colspan="4"><table><tr><td >
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/TU4.jpg" class="d-block w-80" height="400" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/TU4.jpg" class="d-block w-80" height="400" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/TU4.jpg" class="d-block w-80" height="400" alt="...">
    </div>
  </div>
</div>
<!--    <img src="/static/PK1.jpg" width="648" >-->
</td><td align="center"  bgcolor="#EFEFEF" valign="top" width="262"><a href=""><font color="#353375" size="4">
    <b>Notices</b></font></a>


    <p align="center"><DIV id=marqueecontainer onmouseover=copyspeed=pausespeed onmouseout=copyspeed=marqueespeed>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/pk5.jpg" class="d-block w-80" height="400" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/PK5.jpg" class="d-block w-80" height="400" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/PK5.jpg" class="d-block w-80" height="400" alt="...">
    </div>
  </div>
</div>
            <DIV id=vmarquee style="width: 250; position: absolute; left: 1; top: -1; height: 25">

            <UL class=round>

<LI class=red><p align="justify"><a href="http://www.tezu.ernet.in/hostels/nmh/download/NMH_Leave%20Form.doc"> <font color="#343676" size="2" face="Times New Roman">NILACHAL MEN`S HOSTEL LEAVE FORM

</a>  |<a href="">Notice</a> |<a href="" target="_blank">GUEST ROOM FORM</a>|<a href="/internalform/Tempo.pdf"> <font color="#343676" size="2" face="Times New Roman">TEMPORARY ALLOTMENT</a> </font>
<i><font color="red">New</font></i></p><hr></LI>


<LI class=red><p align="justify"><a href="">
	<font color="#343676" size="2" face="Times New Roman">Application Form for Allotment of Hostel/City Delegacy&nbsp; cum- Dossier Form (to be filled in triplicate by all students)</a>
    <a href=""><font color="#343676" size="2" face="Times New Roman">[DOC]</a></font>
<i><font color="red">New</font></i></p><hr></LI>

	<LI class=red><p align="justify"><a href=""><font color="#343676" size="2" face="Times New Roman">GUEST ROOM FORM OF TEZPUR UNIVERSITY>&nbsp;<a href="Forms/Dossier%20Form%20of%20%20MMV.doc">
       <font color="#343676" size="2" face="Times New Roman"> [DOC]</a></font>
<i><font color="red">New</font></i></p><hr></LI>

<LI class=red><p align="justify"><a href=""><font color="#343676" size="2" face="Times New Roman">Particular to be Filled by the Applicant&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=""><font color="#343676" size="2" face="Times New Roman">[DOC]</a></font>
<i><font color="red">New</font></i></p><hr></LI>













<!-- <a href="news/index.html" style="text-decoration:none" target="_blank"><font color="#000000">  more..........</a>-->
</p></LI>



                 </UL></DIV></DIV> 	</p>		</td></tr></table>



</table>


</table>








              </div> <! - - end of post body  - ->

            </div> <! - - end of a post  - ->



        </div> <! - - end of main column  - ->




        <div class="cleaner"></div>
      </div> <! - - end of main content  - ->


    </div> <! - - templatemo_content  - ->


</div> <! - - end of templatemo_content_wrapper  - ->

<!--<div id="templatemo_footer_wrapper">-->

<!--    	<div id="templatemo_footer">-->


<!--      <div class="section_w200">-->

<!--            	<p align="left"><a href="hostel_mal.php" target="_blank"> <font size="2" color="#ffffff" ><b>Hostels for Students(Male)</b></font> </a></p>-->


<!--          </div>-->

<!--            <div class="section_w200">-->

<!--            	<p align="left"><a href="hostel_femal.php" target="_blank"><font size="2"  color="#ffffff"><b>Hostels for Students(Female)</b></font></a></p>-->


<!--            </div>-->

<!--            <div class="section_w200">-->
<!--            	<p align="left"><a href="international.php" target="_blank"><font size="2"  color="#ffffff"><b>Hostels for International Students </b></font></a> </p>-->




<!--          </div>-->


<!--            <div class="section_w200">-->
<!--<p align="left"><a href="employeeaccomodation.php" target="_blank"><font size="2"  color="#ffffff"><b>Residential Accomodation for Employee </b></font></a></p>-->









<!--                </div>-->
<!--            </div>-->
<!--        	<div class="cleaner_h20"></div>-->



<!--    	</div> <! - - end of templatemo_footer  - ->-->

	<div class="cleaner"></div>
</div> <! - - end of templatemo_footer_wrapper  - ->




<!--<div align=center><b><font color="#000000"><a href="index.html"style="text -decoration:none" target="_blank"><font color="#000000">Banaras Hindu University[BHU]</a>&nbsp;&nbsp;&nbsp;<a href="/search/credit.html"style="text -decoration:none"><font color="#000000">Credit</a>  &nbsp;&nbsp;&nbsp; <a href="mailto:webmaster@bhu.ac.in,rsy@bhu.ac.in"style="text -decoration:none"><font color="#000000">Feed Back</a>&nbsp;&nbsp;&nbsp;Updated: <script language=JavaScript>-->
<!--			<! - - -->
<!--			d = new Date();-->
<!--			document.write(format_time(d));-->
<!--			//  - ->-->
<!--		</script></font><br>	&copy;2013 All Rights Reserved Banaras Hindu University,Varanasi -221005,U.P.,India.Best Viewed in 1024 x 768</font> </b>-->

<!--</div><center>-->
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
 <div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>NILACHAL MEN`s HOSTEL</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Welcome to the official home-page of Nilachal Men's Hostel, Tezpur University. Nilachal Men's Hostel, or NMH as it is occassionally called, is home away from home for its boarders, from undergrads to research scholars. With a capacity of 400 students, and modern facilities, it is the ideal residence for students persuing their studies in Tezpur University.</cite></footer>
    </blockquote>
  </div>
</div>
<!--    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
  </div>
</div>

<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <blockquote class="blockquote mb-0">-->
<!--      <p>NILACHAL MEN`s HOSTEL.</p>-->
<!--      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Welcome to the official home-page of Nilachal Men's Hostel, Tezpur University. Nilachal Men's Hostel, or NMH as it is occassionally called, is home away from home for its boarders, from undergrads to research scholars. With a capacity of 400 students, and modern facilities, it is the ideal residence for students persuing their studies in Tezpur University.</cite></footer>-->
<!--    </blockquote>-->
<!--  </div>-->
<!--</div>-->



    <button  class="btn btn-primary btn-lg btn-block">...</button>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>