
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
<!--   &lt;!&ndash;Made with love by Mutiullah Samim &ndash;&gt;-->

<!--	&lt;!&ndash;Bootsrap 4 CDN&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

<!--    &lt;!&ndash;Fontawesome CDN&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
<!--    &lt;!&ndash;Custom styles&ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

    {% load static %}
	<style>
        body{
        background-color:var(--light);
        line-height: 2.5;
        line-height: 2.5;
        }
        .bg-dark{background-color: #5a5386 !important;
    color: #868fb3;
}
element.style {
    height: 150px;
    margin-left: 42%;
    margin-top: 3%;
    width: 150px;
    border-radius: 50%;
    opacity: 0.9;
}
.btn{
background-color: var(--primary);
    border: 1px solid var(--gray-dark);
    }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login Home <span class="sr-only">(current)</span></a>
      </li>

     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login As
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/loginA">Administration</a>
          <a class="dropdown-item" href="/loginW">Warden</a>
          <a class="dropdown-item" href="/loginS">Student</a>
          <a class="dropdown-item" href="#">Guest</a>
        </div>
      </li>

    </ul>

  </div>
</nav>

<div class="container">
    <img src="/static/NMH0.jpg" style="height:150px; margin-left: 42%; margin-top: 1%; width:150px; border-radius: 50%; opacity: 0.9;">
	<div class="d-flex justify-content-center h-50">

		<div class="card">
                <h2 style="margin-top: 15px;">Admin Login.............</h2>
			<div class="card-header">

				<div class="d-flex justify-content-end social_icon">

				</div>
			</div>
			<div class="card-body">
                <form id="login_form" method="POST" action="/loginA/">
                    {% csrf_token %}
                                            <label>User Name:</label>

					<div class="input-group form-group">

                            <input type="text" name="au_name" class="form-control" placeholder="username">

                        </div>
                          <label>Password:</label>
                             <div class="input-group form-group">
<!--                            <div class="input-group-prepend">-->
<!--                                <span class="input-group-text"><i class="fa fa-key"></i></span>-->
<!--                            </div>-->
                            <input type="password" name="apassword" class="form-control" placeholder="password">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <font color="red"><li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></font>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>

                        <div class="form-group text-center">
                            <input type="submit"  value="Login" class="btn login_btn">
                        </div>

                    </div>

				</form>
			</div>


		</div>
	</div>
</div>

</body>
</html>