<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>NMH index!</title>

    <style>
         .col-md-3 img{
      width:250px;
      height:200px;
      padding-left:10px;
      padding-right:-10px;
      }
    </style>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NMH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Student">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/about">Border List <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/add">Add Data<span class="sr-only">(current)</span></a>
            </li>
                        <li class="nav-item active">
                <a class="nav-link" href="/add">About<span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <div>
        {% if messages %}
        <ul class="messages">
            {% for k in messages  %}
            <li style="color: blue">{{ k }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div style="color: blue">
        {% if books %}
        {% for k in books %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card text-white bg-info mb-3" style="width: 16.5rem;">
                        <img src='/media/{{k.student_image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                              <h5 class="card-text">Name: {{k.student_name}}</h5>
                            <h5 class="card-text">Roll No: {{k.student_RollNo}}</h5>
                            <h5 class="card-text">DOB: {{k.student_DB}}</h5>
                            <h5 class="card-text">Admission Yr: {{k.student_Syr}}</h5>
                            <h5 class="card-text">Complete Yr: {{k.student_Eyr}}</h5>
                            <h5 class="card-text">Dept: {{k.student_dept}}</h5>
                            <h5 class="card-text">Course: {{k.student_pro}}</h5>
                            <h5 class="card-text">Room No: {{k.student_RoomNo}}</h5>
                            <h5 class="card-text">Bed No: {{k.student_BedNo}}</h5>

                        </div>
                    </div>
                </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>
<!--  <h5 class="card-header bg-transparent border-success">Name: {{books.0.student_name}}</h5>-->


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>